@import "src/styles/general";

.round {
  position: fixed;
  right: 20px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  background: $base-color-1;
  transition: 200ms;
  overflow: hidden;

  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  span {
    pointer-events: none;
  }
}

.text-button {
  position: relative;
  display: flex;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  color: $base-color-1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.button {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  background: $base-color-1;
  transition: 200ms;
  overflow: hidden;

  &:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  span {
    pointer-events: none;
  }
}

.color-warning {
  color: red;
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 1000px;

  &_active {
    animation: rippleEffect;
    animation-duration: 300ms;
  }
}


@keyframes rippleEffect {
  0% {
    width: 1px;
    height: 1px;
    transform: scale(1);
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    width: 1px;
    height: 1px;
    transform: scale(180);
    background: rgba(255, 255, 255, 0.4);
  }

  100% {
    width: 1px;
    height: 1px;
    transform: scale(180);
    background: rgba(255, 255, 255, 0.0);
  }
}
